

/* =========================== U N I V E R S A L ============================ */


    h3 {
      font-size: 1.25em;
      color: #ffffffba;
      text-shadow: none;
      /* color: #6e6f6f; */
    }


    h4 {
        /* padding: 0.5em auto; */
        margin-top: 0.5em;
        padding-bottom: 0.5em;
        margin-bottom: 0em;
        letter-spacing: 0.08em;
        font-size: 1.25em;
        /* color: rgba(204, 204, 204, 0.753); */
        color: #ccc;;
        /* color: #6e6f6f; */
        cursor: grab;
    }

    .country i {
      opacity: 0;
      transition: opacity .18s ease-in-out;
      -moz-transition: opacity .18s ease-in-out;
      -webkit-transition: opacity .18s ease-in-out;
      -ms-transition: opacity .18s ease-in-out;
      -o-transition: opacity .18s ease-in-out;
    }

    .referenceLink {
        height: 0em;
        transition: height 0.5s;
        -moz-transition: height 0.5s;
        -webkit-transition: height 0.5s;
        -ms-transition: height 0.5s;
        -o-transition: height 0.5s;
        overflow: hidden;
    }

    .referenceLink span {
        letter-spacing: 0.1em;
    }

    .country:hover{
        color: rgba(224, 224, 224, 0.876);
    }

    .referenceLink:hover {
        height: 4.5em;
    }

    .referenceLink p{
        height: 1.5em;
        overflow: hidden;
    }

    #referenceArrow {
      position: absolute;
      font-size: 1.5em;
      margin-top: -0.3em;
    }

    #ItalyRow:hover i, #PolandRow:hover i, #SpainRow:hover i {
      opacity: 1;
    }




/* ===========================E X T R A    S M A L L============================ */


@media (max-width: 575.98px) {

    .country:hover + .referenceLink{
        height: 4.5em;
    }

    #references {
      height: 3.5em;
      overflow: hidden;
      transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

    #references .row {
        height: 3.5em;
    }

    #references:hover {
        height: 15em;
        transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

}


/* ===================================S M A L L============================ */


@media (min-width: 576px) and (max-width: 767.98px) {

    .country:hover + .referenceLink{
        height: 4.5em;
    }

    #references {
      height: 3.5em;
      overflow: hidden;
      transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

    #references .row {
        height: 3.5em;
    }

    #references:hover {
        height: 15em;
        transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

}


/* ===================================M E D I U M============================ */


@media (min-width: 768px) and (max-width: 991.98px) {

    .country:hover + .referenceLink{
        height: 5em;
    }

    #references {
      height: 2.5em;
      overflow: hidden;
      transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

    #references:hover {
        height: 11.5em;
        transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

}


/* ====================================L A R G E============================================ */


@media (min-width: 992px) and (max-width: 1249.98px) {

    .country:hover + .referenceLink{
        height: 4.5em;
    }

    #references {
      height: 2.5em;
      overflow: hidden;
      transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

    #references:hover {
        height: 11.5em;
        transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

}


/* ===================================E X T R A    L A R G E ============================ */


@media (min-width: 1250px) {

    .country:hover + .referenceLink{
        height: 4.5em;
    }

    #references {
      height: 2.5em;
      overflow: hidden;
      transition: height 0.25s;
      -moz-transition: height 0.25s;
      -webkit-transition: height 0.25s;
      -ms-transition: height 0.25s;
      -o-transition: height 0.25s;
    }

    #references:hover {
        height: 11.5em;
        transition: height 0.25s;
        -moz-transition: height 0.25s;
        -webkit-transition: height 0.25s;
        -ms-transition: height 0.25s;
        -o-transition: height 0.25s;
    }

}
