

/* =========================== U N I V E R S A L ============================ */
h3 {
  font-size: 1.25em;
  color: #ffffffba;
  text-shadow: none;
  /* color: #6e6f6f; */
}


h4 {
    /* padding: 0.5em auto; */
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0em;
    letter-spacing: 0.08em;
    font-size: 1.25em;
    /* color: rgba(204, 204, 204, 0.753); */
    color: #ccc;;
    /* color: #6e6f6f; */
    cursor: grab;
}

.country i {
  opacity: 0;
  transition: opacity .18s ease-in-out;
  -moz-transition: opacity .18s ease-in-out;
  -webkit-transition: opacity .18s ease-in-out;
  -ms-transition: opacity .18s ease-in-out;
  -o-transition: opacity .18s ease-in-out;
}

.referenceLink {
    height: 0em;
    transition: height 0.5s;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -ms-transition: height 0.5s;
    -o-transition: height 0.5s;
    overflow: hidden;

    /* background: #171717; */
    /* background: #171717; */

    z-index: 1000;
}

.referenceLink span {
    letter-spacing: 0.1em;
}

.country:hover{
    color: rgba(224, 224, 224, 0.876);
}

.referenceLink:hover {
    height: 4.5em;

    z-index: 1001;

    border-bottom: 1px solid white;
}

.referenceLink p{
    height: 1.5em;
    overflow: hidden;
}

#referenceArrow {
  position: absolute;
  font-size: 1.5em;
  margin-top: -0.3em;
}

.CountryRow {
  height: 2.9em;
}

.CountryRow:hover i {
  opacity: 1;
}




/* ===========================E X T R A    S M A L L============================ */


@media (max-width: 575.98px) {

.country:hover + .referenceLink{
    height: 4.5em;

    border-bottom: 1px solid white;

    background: #222;
}

.referenceLink {
  background: #222;
}

#references {
  height: 3.5em;
  overflow: hidden;
  transition: height 0.4s;
  -moz-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

#references .row {
    height: 3.5em;
}

#references:hover {
    /* height: 15em; */
    transition: height 0.35s;
    -moz-transition: height 0.35s;
    -webkit-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
}

}


/* ===================================S M A L L============================ */


@media (min-width: 576px) and (max-width: 767.98px) {

.country:hover + .referenceLink{
    height: 4.5em;
    z-index: 1001;

    border-bottom: 1px solid white;

    background: #222;
}

.referenceLink {
  background: #222;
}

#references {
  height: 3.5em;
  overflow: hidden;
  transition: height 0.4s;
  -moz-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

#references .row {
    height: 3.5em;
}

#references:hover {
    /* height: 15em; */
    transition: height 0.35s;
    -moz-transition: height 0.35s;
    -webkit-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
}

}


/* ===================================M E D I U M============================ */


@media (min-width: 768px) and (max-width: 991.98px) {

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.country:hover + .referenceLink{
    height: 5em;

    border-bottom: 1px solid white;
}

#references {
  height: 2.5em;
  overflow: hidden;
  transition: height 0.4s;
  -moz-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

#references:hover {
    /* height: auto; */
    transition: height 0.35s;
    -moz-transition: height 0.35s;
    -webkit-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
}

}


/* ====================================L A R G E============================================ */


@media (min-width: 992px) and (max-width: 1249.98px) {

.country:hover + .referenceLink{
    height: 4.5em;

    border-bottom: 1px solid white;
}

#references {
  height: 2.5em;
  overflow: hidden;
  transition: height 0.4s;
  -moz-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

#references:hover {
    /* --countriesAmount: this.countriesAmount; */

    /* height: calc(2.5em + var(--countriesAmount)*2.9em); */
    transition: height 0.35s;
    -moz-transition: height 0.35s;
    -webkit-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;

    padding-bottom: 2em;
}

}


/* ===================================E X T R A    L A R G E ============================ */


@media (min-width: 1250px) {

.country:hover + .referenceLink{
    height: 4.5em;

    border-bottom: 1px solid white;

}

#references {
  height: 2.5em;
  overflow: hidden;
  transition: height 0.4s;
  -moz-transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

#references:hover {
    /* height: 11.5em; */
    transition: height 0.35s;
    -moz-transition: height 0.35s;
    -webkit-transition: height 0.35s;
    -ms-transition: height 0.35s;
    -o-transition: height 0.35s;
}

}
