
<div class="container-fluid pt-5">
  <div class="row">
      <div class="col-md-12" id="references">
          <!-- <div class="text-center w-100 d-none d-md-block" id="referenceArrow"><i class="fas fa-caret-down"></i></div> -->
          <div class="row">
              <div class="col-12 col-md-5 text-center text-md-left text-md-left pl-md-5">
                  <h3><i class="fas fa-draw-polygon mr-md-2"></i> References
                      <div class="text-center w-100 d-block d-md-none pt-2 pr-4" id="referenceArrow"><i class="fas fa-caret-down"></i></div>
                  </h3>
              </div>
              <div class="col-2">
                  <div class="text-center w-100 d-none d-md-block" id="referenceArrow"><i class="fas fa-caret-down"></i></div>
              </div>
              <div class="col-5"></div>
          </div>
          <div class="row CountryRow" *ngFor="let country of countries" >
              <div class="col-md-1"></div>
              <div class="col-12 col-md-3 text-center text-md-left px-0 pl-md-0 pl-lg-2 country">
                  <h4 class="ml-md-2 d-none d-md-block"><i class="fas fa-chevron-right"></i> • {{ (country.name.length > 11)? (country.name | slice:0:9)+'..':(country.name) }}<span class="d-md-none"> • </span><i class="d-md-none fas fa-chevron-left"></i></h4>
                  <h4 class="ml-md-2 d-md-none"><i class="fas fa-chevron-right"></i> • {{ country.name }}<span class="d-md-none"> • </span><i class="d-md-none fas fa-chevron-left"></i></h4>
              </div>
              <div class="col-md-8 referenceLink">
                  <div class="pt-1">
                      <p><span class="d-none d-sm-inline">Beginning: </span>
                          <a class="" href="{{country.startLink}}">
                              {{country.startLink | slice:0:40}}
                          </a>
                      </p>
                      <p><span class="d-none d-sm-inline">The end:</span>
                          <a href="{{country.endLink}}">
                            {{country.endLink | slice:0:40}}
                          </a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="col-md-7">

      </div> -->
  </div>
</div>
