


/* =========================== U N I V E R S A L ======================= */

div {
  padding-right: 0;
}

.links {
  text-indent: 5%;
  font-size: 0.9em;
}

.linksRow div {
  height: 1.8em;
  overflow: hidden;
}

#containerFooterTextDisease {
  text-align: justify;
  /* text-indent: 10%; */
  font-size: 1.05em;
  line-height: 1.7em;
  font-weight: 300;
  letter-spacing: 0.045em;
  /* font-style: italic; */
  font-family: 'Merriweather', serif;

  padding-top: 1.6em;
  /* padding-bottom: 0.5em; */
}

#releaseDesc {
  text-indent: 10%;
  /* text-align: left; */
  font-size: 0.97em;
}

#redirectBlock a {
  text-decoration: underline;
}



/* ===========================E X T R A    S M A L L============================ */


@media (max-width: 575.98px) {

  #footerText {
    padding-right: 0;
    padding-left: 0;
  }

  #footerText i {
    font-size: 7em;
  }

  .links {
    text-indent: 0;
  }

  .links div div {
    margin-bottom: 0.12em;
  }

  .linksRow {
    padding-left: 1.5em;
  }

  #footerText i {
    font-size: 9em;
  }

  #containerFooterTextDisease {
    font-size: 0.9em;
  }

  #redirectBlock {
    padding-left: 2.5em;
  }

}


/* ===================================S M A L L============================ */


@media (min-width: 576px) and (max-width: 767.98px) {

  .links {
    text-indent: 0;
  }

  .links div div {
    margin-bottom: 0.12em;
  }

  #footerText i {
    font-size: 9em;
  }

  #containerFooterTextDisease {
    font-size: 0.9em;
  }

  #redirectBlock {
    margin-left: 8.5%;
  }

}


/* ===================================M E D I U M============================ */


@media (min-width: 768px) and (max-width: 991.98px) {

  #redirectBlock {
    margin-right: 15%;
  }
}


/* ====================================L A R G E============================================ */


@media (min-width: 992px) and (max-width: 1199.98px) {

}


/* ===================================E X T R A    L A R G E ============================ */


@media (min-width: 1200px) {

  #containerFooterTextDisease {
    /* padding-bottom: 5em; */

    line-height: 1.5em;
  }

}

