
<div class="row pb-xl-1" id="containerFooterTextDisease">
  <div class="col-12">

    <!-- justify-content-center justify-content-sm-start -->
    <div class="row justify-content-md-end justify-content-lg-between">

      <div class="d-none d-lg-block col-lg-5" id="releaseDesc">
        <!-- <div class="d-none d-lg-block pr-2">Infection spread on all over the world. There are people in need in all countries. For this reason many governments release their own websites with leads for given countries.</div> -->
        <div class="d-none d-lg-block mb-2 pr-5">SARS-CoV-2 became a problem of most of the planet. For this reason many governments release their own websites with leads about the virus.</div>
      </div>

      <div class="col-12 col-sm-8 col-md-7 col-lg-6 mr-lg-4" id="redirectBlock">

        <div class="row mb-1">
          <!-- <div class="col-2 col-lg-2"> -->
            <!-- <div class="d-none d-lg-block">Infection spread on all over the world. There are people in need in all countries. For this reason many governments release their own websites with leads for given countries.</div> -->
          <!-- </div> -->
          <!-- <div class="col-7 text-right">There are another websites where you can learn more about SARS-CoV-2:</div> -->
          <div class="col-5 col-6 ml-3 text-left">
            <span class="d-sm-none">Detail information:</span>
            <span class="d-none d-sm-inline">Entirely about present:</span>
          </div>
          <div class="col-5 col-5 text-left">
            <span class="d-none d-sm-inline">Detail information:</span>
          </div>
          <!-- <div class="col-5 col-lg-4 text-left">There you can learn more:</div> -->
          <!-- <div class="col-5 col-lg-4 text-left">More about SARS-CoV-2:</div> -->
        </div>

        <div class="row links">
          <!-- <div class="col-5 col-lg-2">
          </div> -->
          <div class="col-5 col-sm-6">

            <div class=""><a href="https://www.coronavirus.gov/">www.coronavirus.gov</a></div>

            <div class=""><a href="https://coronavirus.dc.gov/">coronavirus.dc.gov</a></div>

            <div class=""><a href="https://www.health.nd.gov/diseases-conditions/coronavirus">www.health.nd.gov</a></div>

          </div>
          <div class="col-5 col-5 linksRow">

            <div class=""><a href="https://www.cdc.gov/coronavirus">www.cdc.gov</a></div>

            <div class=""><a href="https://theconversation.com/why-are-older-people-more-at-risk-of-coronavirus-133770">theconversation.com</a></div>

            <div class=""><a href="https://en.unesco.org/covid19/">en.unesco.org</a></div>
    <!--
            <div class="mb-1"><a href="https://www.gov.uk/coronavirus">www.gov.uk</a></div>

            <div class="mb-1"><a href="https://www.camden.gov.uk/COVID-19">www.camden.gov.uk</a></div> -->

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
