
<div class="row" id="containerFooterTextDisease">
  <div class="col-12">

    <div class="row mb-2">
      <div class="col-2 col-lg-4">
        <!-- <div class="d-none d-lg-block">Infection spread on all over the world. There are people in need in all countries. For this reason many governments release their own websites with leads for given countries.</div> -->
      </div>
      <!-- <div class="col-7 text-right">There are another websites where you can learn more about SARS-CoV-2:</div> -->
      <div class="col-5 col-lg-4 text-left">Entirely about present:</div>
      <div class="col-5 col-lg-4 text-left">Detail information:</div>
      <!-- <div class="col-5 col-lg-4 text-left">There you can learn more:</div> -->
      <!-- <div class="col-5 col-lg-4 text-left">More about SARS-CoV-2:</div> -->
    </div>

    <div class="row links">
      <div class="col-5 col-lg-4">

        <div class="d-none d-lg-block pr-2">Infection spread on all over the world. There are people in need in all countries. For this reason many governments release their own websites with leads for given countries.</div>

      </div>
      <div class="col-2 col-lg-4">

        <div class="mb-1"><a href="https://www.coronavirus.gov/">www.coronavirus.gov</a></div>

        <div class="mb-1"><a href="https://coronavirus.dc.gov/">coronavirus.dc.gov</a></div>

        <div class="mb-1"><a href="https://www.health.nd.gov/diseases-conditions/coronavirus">www.health.nd.gov</a></div>

      </div>
      <div class="col-5 col-lg-4 linksRow">

        <div class="mb-1"><a href="https://www.cdc.gov/coronavirus">www.cdc.gov</a></div>

        <div class="mb-1"><a href="https://theconversation.com/why-are-older-people-more-at-risk-of-coronavirus-133770">theconversation.com</a></div>

        <div class="mb-1"><a href="https://en.unesco.org/covid19/">en.unesco.org</a></div>
<!--
        <div class="mb-1"><a href="https://www.gov.uk/coronavirus">www.gov.uk</a></div>

        <div class="mb-1"><a href="https://www.camden.gov.uk/COVID-19">www.camden.gov.uk</a></div> -->

      </div>
    </div>

  </div>

</div>
