
<div class="row" id="containerFooterTextPandemic">
  <div class="col-12">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10" id="footerText">

          <h3>Comparison</h3>

          <p>It's not the first time when humans face some epidemic. In the past most often Plague, smallpox, HIV, ebola, Cholera. Lets see how dangerous they were compared to COVID-19:</p>

      </div>
      <div class="col-1"></div>
    </div>

    <div class="row" id="otherPandemics">
      <div class="col-3 text-center">Spanish Flu</div>
      <div class="col-3 text-center">Black Death</div>
      <div class="col-3 text-center">Cholera</div>
      <div class="col-3 text-center">HIV/AIDS</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">Mortality:</div>
      <div class="col-3 text-center">Mortality:</div>
      <div class="col-3 text-center">Mortality:</div>
      <div class="col-3 text-center">Mortality:</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">23%-71%</div>
      <div class="col-3 text-center">50%-100%</div>
      <div class="col-3 text-center">50%</div>
      <div class="col-3 text-center">2%</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">Duration:</div>
      <div class="col-3 text-center">Duration:</div>
      <div class="col-3 text-center">Duration:</div>
      <div class="col-3 text-center">Duration:</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">1918 - 1920</div>
      <div class="col-3 text-center">1347 - 1351</div>
      <div class="col-3 text-center">1817 - 1824</div>
      <div class="col-3 text-center">1976 - now</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">Killed:</div>
      <div class="col-3 text-center">Killed:</div>
      <div class="col-3 text-center">Killed:</div>
      <div class="col-3 text-center">Killed:</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">at least 50 million</div>
      <div class="col-3 text-center">at least 75 million</div>
      <div class="col-3 text-center">at least 3 million</div>
      <div class="col-3 text-center">at least 32 million</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">Most killed age group:</div>
      <div class="col-3 text-center">Most killed age group:</div>
      <div class="col-3 text-center">Most killed age group:</div>
      <div class="col-3 text-center">Most killed age group:</div>
    </div>

    <div class="row">
      <div class="col-3 text-center">25-45 years old</div>
      <div class="col-3 text-center">mortality increase with adult age</div>
      <div class="col-3 text-center">20-30 years old</div>
      <div class="col-3 text-center">15-49 years old</div>
    </div>

    <div class="row">
      <div class="col-12 text-center">COVID-19</div>  <!--BOLD-->
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 text-right">Mortality:</div>
      <div class="col-4 text-left">7%</div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 text-right">Duration:</div>
      <div class="col-4 text-left">Dec 2019 - now</div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-4 text-right">Deaths For 24 April 2020:</div>
      <div class="col-4 text-left">188 437</div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col-12 text-center">Risk of mortality increases with adult age</div>
    </div>

  </div>

</div>
