
<div class="row" id="containerFooterText">
  <div class="col-1"></div>
  <div class="col-10" id="footerText">
    <div class="text-center" id="virusIcon"></div>
      <div class="preIcon">
        <i class="fas fa-compress-alt"></i>
      </div>

      <h3>Comparison</h3>

      <p>It's not the first time when humans face some epidemic. In the past most often Plague, smallpox, HIV, ebola, Cholera. Lets see how dangerous they were compared to COVID-19:</p>

  </div>
  <div class="col-1"></div>
</div>
