
<div class="row" id="containerFooterTextPandemic">
  <div class="col-12">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10" id="footerText">

          <h3>Comparison</h3>

          <p>It's not the first time when humans face pandemic. In the past most there were among others Plagues, Cholera, HIV. Lets see how dangerous were the largest ones compared to COVID-19:</p>

      </div>
      <div class="col-1"></div>
    </div>

    <!-- <hr> -->

    <div class="justify-content-around" id="table">

      <div class="row justify-content-around mt-1 mt-xl-4" id="otherPandemicsNames">
        <div class="d-none d-sm-block col-sm-1"></div>
        <div class="d-none d-sm-block col-sm-2 text-center" style="background: #222;"></div>
        <div class="col-3 col-sm-2 text-center px-0"><span class="d-sm-none pr-2"><img src="../../../assets/svg/spain-3d-16.png" alt=""> </span><span class="d-none d-sm-inline">Spanish</span> Flu</div>
        <div class="col-3 col-sm-2 text-center px-0">Black <span class="d-sm-none pl-2"> <i class="fas fa-skull-crossbones"></i></span><span class="d-none d-sm-inline">Death</span></div>
        <div class="col-3 col-sm-2 text-center">Cholera</div>
        <div class="col-3 col-sm-2 text-center">HIV/AIDS</div>
        <div class="d-none d-sm-block col-sm-1"></div>
      </div>

      <!-- <div class="row justify-content-around d-sm-none mobileCaption">
        <div class="col-12 text-center" style="border: 1px solid #222222;">Mortality (%)</div>
      </div> -->

      <div class="othersData">
        <div class="d-sm-none justify-content-center mobileCaption">
          <span>Mortality</span>
        </div>
        <div class="row justify-content-around">
          <div class="d-none d-sm-block col-sm-1"></div>
          <!-- <div class="d-sm-none mobileCaption">Mortality (%)</div> -->
          <div class="d-none d-sm-block col-sm-2 text-center">Mortality:</div>
          <!-- <div class="col-3 col-sm-2 text-center" style="border-top: none;">23<span class="d-none d-sm-inline">%</span>-71<span class="d-none d-sm-inline">%</span></div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">50<span class="d-none d-sm-inline">%</span>-100<span class="d-none d-sm-inline">%</span></div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">50<span class="d-none d-sm-inline">%</span></div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">2<span class="d-none d-sm-inline">%</span></div> -->

          <div class="col-3 col-sm-2 text-center" style="border-top: none;">23%-71%</div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">50%-100%</div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">50%</div>
          <div class="col-3 col-sm-2 text-center" style="border-top: none;">2%</div>
          <div class="d-none d-sm-block col-sm-1"></div>
        </div>
      </div>


      <div class="othersData">
        <div class="d-sm-none justify-content-center mobileCaption">
          <span>Duration</span>
        </div>
        <div class="row justify-content-around">
          <div class="d-none d-sm-block col-sm-1"></div>
          <div class="d-none d-sm-block col-sm-2 text-center">Duration:</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">1918<span class="d-none d-sm-inline"> </span>-<span class="d-none d-sm-inline"> </span>1920</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">1347<span class="d-none d-sm-inline"> </span>-<span class="d-none d-sm-inline"> </span>1351</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">1817<span class="d-none d-sm-inline"> </span>-<span class="d-none d-sm-inline"> </span>1824</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">1976<span class="d-none d-sm-inline"> </span>-<span class="d-none d-sm-inline"> </span>now</div>
          <div class="d-none d-sm-block col-sm-1"></div>
        </div>
      </div>

      <div class="othersData">
        <div class="d-sm-none justify-content-center mobileCaption">
          <span>Min deaths</span>
        </div>
        <div class="row justify-content-around">
          <div class="d-none d-sm-block col-sm-1"></div>
          <div class="d-none d-sm-block col-sm-2 text-center px-0">Min deaths:</div>
          <div class="col-3 col-sm-2 text-center vertical-align-center">50 M</div>
          <div class="col-3 col-sm-2 text-center">75 M</div>
          <div class="col-3 col-sm-2 text-center">3 M</div>
          <div class="col-3 col-sm-2 text-center">32 M</div>
          <div class="d-none d-sm-block col-sm-1"></div>
        </div>
      </div>

      <div class="othersData">
        <div class="d-sm-none justify-content-center mobileCaption">
          <span>Most deadly</span>
        </div>
        <div class="row justify-content-around">
          <div class="d-none d-sm-block col-sm-1"></div>
          <div class="d-none d-sm-block col-sm-2 text-center px-0">Most deadly:</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">25-45 YO.</div>
          <div class="col-3 col-sm-2 text-center px-0">INC by age</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">20-30 YO.</div>
          <div class="col-3 col-sm-2 text-center px-sm-0">15-49 YO.</div>
          <div class="d-none d-sm-block col-sm-1"></div>
        </div>
      </div>

    </div>



    <div class="row pt-4 pt-xl-5" id="covidData">
      <div class="col-1 d-sm-none"></div>
      <div class="col-11 col-sm-12">
        <div class="row text-left">
          <div class="col-12 text-sm-center">COVID-19</div>  <!--BOLD-->
        </div>

        <hr class="my-0" id="hrUnderCovid">

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-5 col-sm-2 text-sm-left pr-0">Mortality:</div>
          <div class="col-5 col-sm-3 text-center">7%</div>
          <div class="d-sm-none col-2"></div>
          <div class="col-sm-3"></div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-5 col-sm-2 text-sm-left pr-0">Duration:</div>
          <div class="col-5 col-sm-3 text-center px-0">Dec 2019 - now</div>
          <div class="d-sm-none col-2"></div>
          <div class="col-sm-3"></div>
        </div>

        <div class="row">
          <div class="col-sm-4"></div>
          <!-- <div class="col-4 text-right">Deaths For 24April 2020:</div> -->
          <div class="col-5 col-sm-2 text-sm-left pr-0">Min deaths:</div>
          <div class="col-5 col-sm-3 text-center">188 437</div>
          <div class="d-sm-none col-2"></div>
          <div class="col-sm-3"></div>
        </div>

        <div class="row">
          <div class="col-12 text-sm-center" style="margin-left: 5%;">Risk of death increases with adult age</div>
        </div>
      </div>
    </div>


    <!-- <div class="row pt-4" id="covidData">
      <div class="col-12">
        <div class="row">
          <div class="col-12 text-center">COVID-19</div>
        </div>

        <hr class="my-0" id="hrUnderCovid">

        <div class="row">
          <div class="col-2"></div>
          <div class="col-4 text-right">Mortality:</div>
          <div class="col-4 text-left">7%</div>
          <div class="col-2"></div>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-4 text-right">Duration:</div>
          <div class="col-4 text-left">Dec 2019 - now</div>
          <div class="col-2"></div>
        </div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-4 text-right">Min deaths:</div>
          <div class="col-4 text-left">188 437</div>
          <div class="col-2"></div>
        </div>

        <div class="row">
          <div class="col-12 text-center">Risk of death increases with adult age</div>
        </div>
      </div>
    </div> -->


  </div>

</div>
