


/* =========================== U N I V E R S A L ======================= */

#containerFooterTextPandemic .row:not(:first-child) {
  font-size: 0.9em;
  line-height: 2.8em;
}

#containerFooterTextPandemic {
  /* text-align: justify; */
  text-align: left;
  text-indent: 10%;
  font-size: 1.2em;
  line-height: 1.7em;
  font-weight: 300;
  letter-spacing: 0.045em;
  /* font-style: italic; */
  font-family: 'Merriweather', serif;

  padding-top: 3em;
  padding-bottom: 2em;

}

/* #virusIcon {
  align-items: center;

  padding-top: 1.3em;
  padding-bottom: 3.5em;
} */

/* #footerText i {
  font-size: 10em;

  margin-left: -10%;

  display: inline;
} */

hr {
  background-color: #171717 !important;
}

#hrUnderCovid {
  width: 45%;
  margin-left: 31%;
}

#covidData .row:first-of-type {
  font-weight: 400;
}

.row #covidData {
  /* font-weight: bold; */
  /* font-weight: 400; */
  font-size: 1.1em !important;
  /* line-height: 3em !important; */
}

#otherPandemicsNames {
  font-size: 0.97em !important;
  /* line-height: 1.8em !important; */

}


/* ===========================E X T R A    S M A L L============================ */


@media (max-width: 575.98px) {

  #footerText {
    padding-right: 0;
    padding-left: 0;

    font-size: 0.93em;
  }

  /* #footerText i {
    font-size: 7em;
  } */

  .mobileCaption {
    display: flex;
    position: absolute;

    width: 100%;
    z-index: 999;

    /* left: 50%;
    margin-left: -50%; */

    /* top: 50%; */

    text-indent: 0;
    font-size: 0.6em !important;
    letter-spacing: 0.15em;
    line-height: 1.5em !important;
  }

  .othersData {
    position: relative;
  }

  #containerFooterTextPandemic {

    margin-left: -5px;
    margin-right: -5px;

  }

  #covidData .row{
    text-indent: 0;

    font-size: 0.75em !important;
  }

  /* #covidData .row:first-of-type {
    font-weight: 400;
  } */

  #hrUnderCovid {
    width: 70%;
    margin-left: 3%;
  }

  #table {
    font-size: 0.7em;

    text-indent: 0;
  }

  #table .row div {
    border: 1px solid #171717;

    border-top: none;

    padding: 0;

    line-height: 4em;
    height: 4em;
  }

  #table > #othersData:last-child .row .div{
    border-bottom: none !important;
  }

}


/* ===================================S M A L L============================ */


@media (min-width: 576px) and (max-width: 767.98px) {

  #footerText i {
    font-size: 9em;
  }

}


/* ===================================M E D I U M============================ */


@media (min-width: 768px) and (max-width: 991.98px) {

}


/* ====================================L A R G E============================================ */


@media (min-width: 992px) and (max-width: 1199.98px) {

}


/* ===================================E X T R A    L A R G E ============================ */


@media (min-width: 1200px) {

  #containerFooterTextPandemic {
    padding-bottom: 5em;
  }

}

