
<div class="row" id="footerTextSpace">
  <div class="col-1"></div>
  <div class="col-10" id="footerText">
      <p>
          <!-- <span style="font-size: 1.5em; padding-right: 0.1em">C</span>oronavirus increasingly and continuously grows stronger on all corners of the world. Many companies unites with health organizations to help victims. -->
          <span style="font-size: 1.2em; padding-right: 0.1em; font-style: italic;">COVID-19</span> appeared in Wuhan in China, December 2019 and barely month later next cases had been confirmed. Virus started spreading in the most populated
          country on the plane.  In March 2020 the World Health Organization declared
          coronavirus a pandemic. From then virus constantly conquer the furthest corners
          of the world.
      </p>
  </div>
  <div class="col-1"></div>
</div>

