<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p class="mb-5 d-none" id="siteDesc">Wuhan outbreak</p>
</div>

<div class="content">

  <div class="history-card">
    <mat-card class="mb-2 mb-sm-5">
        <mat-card-subtitle class="w-100">
          <!-- <h2>Wuhan Outbreak</h2> -->
          <h2><span class="d-none d-sm-inline">Wuhan </span>Pandemic</h2>
        </mat-card-subtitle>

        <mat-card-content>

        <div class="preIcon">
          <!-- <i class="fas fa-feather-alt"></i> -->
          <i class="fas fa-thumbtack"></i>
        </div>

        <!-- <h3>Initiation</h3> -->
        <h3>Outbreak</h3>

        <p>There is no evidences yet that would proof what was the real beginning of COVID-19. Even tough exists few theories with many constituencies.</p>

        <p>One of them is that the virus broke out might be related to some laboratory. More widely recognized version is theory that says about
        wet market in Wuham where people sells exclusive and wild animals, dead and alive for private purposes, and from one of them virus jumped onto human patient zero.</p>

        <p>However, virus in a short time was infecting further people. Due to international flights, and that the China
        is the center of many worldwide corporations and the biggest world exporter - not so long time after beginning in China virus started to spread over other countries.</p>

        <!-- <p>jako ze mamy international airlanes</p> -->

        <div class="preIcon">
          <i class="fas fa-viruses"></i>
        </div>

        <h3 class="pt-3">Virus</h3>  <!--DO DISEASES-->

        <p>In most cases, new viruses evolve from old viruses. The chance of a virus evolving successfully infect a new species is extremely low but there are over seven billions people on the planet, and most of them interact with animals everyday even as eating food.</p>

        <p>Coronaviruses are a family of viruses that cause disease in animals. Seven, including the new virus, can affect to humans, but most just cause cold-like symptoms.
        The one which presently causes the biggest damage, is named Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2) and is more dangerous than its predecessors.</p>

        <div class="preIcon">
          <i class="fas fa-landmark"></i>
        </div>

        <h3 class="pt-3">Governments answers</h3>

        <p>Respectively to the informations how catching is virus, in many countries state authorities started reacting immediately to prevent spreading. Ones of the most important are:</p>

        <ul id="governmentDo">
          <li>
            Organise new points to help infected people, like build new hospitals in 10 days, that happened in China!
          </li>
          <li>
            Short time after first cases outside PRC, flights between particular countries started being cancelled and the first one was China - USA.
          </li>
          <li>
            Many governments try to keep citizens at homes as far as possible. They ban mass meetings including public events. Lot of them were suspended or postponed, such as Chinese New Year festival or concerts for which many tickets were sold already.
          </li>
        </ul>

        <!-- <p>oprócz zakazów/innymi dzialaniami rzadu  są expresowe budowy szpitali ze względu na to jak łatwo się przenosi covid oraz brak miejsc przez dużą liczbę zachorowań</p> -->

        <!-- <p>coraz wiecej krajów wprowadza nakazy noszenia maseczek oraz je dofinansowuje</p> -->

        <!-- <p>wszystko to sie dzieje aby zminimalizować pandemię jak tylko jest to mozliwe</p> -->

        <div class="preIcon">
          <!-- <i class="fas fa-comments"></i> -->
          <i class="fas fa-search-dollar"></i>
        </div>

        <h3 class="pt-3">Shopping</h3>

        <p>In cause of the fear from the infection, people started buying large amount of products.
        This led to situations where in shops were <!--lacks / -->deficities of products on the shelfs and buyers were waiting before opening.</p>

        <p>Over time this problem was normalized. Even so, in many countries long queues are forming anyway. That happens because of restrictions about number of clients in the time in certain shops.
        Mainly, bigger shopping centres are completely closed.</p>

        <p>Major of companies loses fortune when people stay in their homes, but not all. Businessess like these producing face masks increases sales up to 500%!</p>

        <!-- <p>Koszt maseczek wzrósł o 400%?</p> -->

        <div class="preIcon">
          <i class="fas fa-glasses"></i>
          <!-- <i class="fas fa-exclamation-triangle"></i> -->
        </div>

        <h3 class="pt-3">Recovery</h3>

        <p>It is now known that probability of recover is different depending on age. Media reports that the elder age is higher death rate, however keep in mind that people in very young age also have low immune system. </p>

        <p>Statistic show that mortality rate for people between 75-84 years old is about 4,5%, but for age over 84 years olds death ratio amounts 13.5%! That's why they should take care most of all.</p>

        <!-- <p>The safest can feel people between 10-30 years old.</p> -->

        <!-- <p>Obecnie wiadomo, że prawdopodobieństwo wyzdrowienia jest różne w zależności od wieku chorego. ogólnie media podają że, im starsza osoba tym większe ryzyko smierci jednak równie narażone są osoby w bardzo młodym wieku. Statystyki podają że w 10%(?) z chorych over 70 lat umiera. To własnie u nich organizm najsłabiej radzi sobie z walce z wirusem a mortality is the highest</p> -->

        <div class="preIcon">
          <i class="far fa-bell"></i>
        </div>

        <h3 class="pt-3">Warning</h3>

        <p>Latest news reports that some people who recovered from coronavirus, catched it again. It means virus does not stop evoluating which may cause coming out with an antidote even harder than expected.</p>

        </mat-card-content>

    </mat-card>
  </div>

</div>


