<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p class="mb-5 d-none" id="siteDesc">Wuhan outbreak</p>
</div>

<div class="content">

  <div class="history-card">
    <mat-card class="mb-5">
        <mat-card-subtitle class="w-100">
          <!-- <h2>Wuhan Outbreak</h2> -->
          <h2>Wuhan Pandemic</h2>
        </mat-card-subtitle>

        <mat-card-content>

        <div class="preIcon">
          <!-- <i class="fas fa-feather-alt"></i> -->
          <i class="fas fa-thumbtack"></i>
        </div>

        <!-- <h3>Initiation</h3> -->
        <h3>Outbreak</h3>

        <p>There is no evidences yet that would proof what was the real beginning of COVID-19. Even tough exists theory with many constituencies.</p>

        <p>One side of theories is that the virus broke out as genetically weapon, (but that one which enjoys the major scientists)? / (second) says</p>

        <p>Prawdopodobnie większym uznaniem cieszy się teoria o (jakim) rynku w Wuham na którym były sprzedawane exclusive animals, żywe i martwe w celach (jakichs), and from one of them virus przeniósł się na pacjenta zero.</p>

        <p>However, virus bardzo szybko zaczął przenosić się na kolejne (osoby, nieszczesliwcow, ofiary). Regarding to (working) international airlanes, and that the China is (centrum wielu korporacji swiatowych)ot so long time after beginning in China virus started to spread over another countries.</p>

        <p>jako ze mamy international airlanes</p>

        <div class="preIcon">
          <i class="fas fa-viruses"></i>
        </div>

        <h3 class="pt-3">Virus</h3>  <!--DO DISEASES-->

        <p>In most cases, new viruses evolve from old viruses. The chance of a virus evolving successfully infect a new species is extremely low but there are over seven billions people on the planet, whilst most of them interact with animals everyday even as eating food.</p>

        <p>Coronavirus is originally named Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2)</p>

        <p>Coronaviruses are a family of viruses that cause disease in animals. Seven, including the new virus, can affect to humans, but most just cause cold-like symptoms.</p>

        <div class="preIcon">
          <i class="fas fa-landmark"></i>
        </div>

        <h3 class="pt-3">Governments / odpowiedź władz</h3>

        <p>władze panstw w krótkim czasie zaczęły reagować i podejmować działania majace na celu zapobiec rozprzestrzenianiu sie niebezpieczenstwa/choroby</p>

        <p>One of the most important are</p>

        <p>Organise new points to cure infected people, like even build new hospitals (w ekspresowym tempie)</p>

        <p>po tym jak bylo wiadomo jak grozny jest wirus, loty miedzynarodowe zaczely byc masowo wstrzymywane.</p>

        <p>Moreove w wielu krajach zaczeto wprowadzać też takie zakazy jak masowych spotkań, zaczeto odwolywac/odwolywano wydarzenia publiczne. Wsrod nich znalazły się także (chinski nowy rok, ..., duze koncerty na które wykupione było tysiące biletów)</p>

        <p>oprócz zakazów/innymi dzialaniami rzadu  są expresowe budowy szpitali ze względu na to jak łatwo się przenosi covid oraz brak miejsc przez dużą liczbę zachorowań</p>

        <p>coraz wiecej krajów wprowadza nakazy noszenia maseczek oraz je dofinansowuje</p>

        <p>wszystko to sie dzieje aby zminimalizować pandemię jak tylko jest to mozliwe</p>

        <div class="preIcon">
          <!-- <i class="fas fa-comments"></i> -->
          <i class="fas fa-search-dollar"></i>
        </div>

        <h3 class="pt-3">Wpływ na społeczeństwo / społeczeństwo / codziennosc / zmiana codziennosci</h3>

        <p>Z uwagi na strach przed epidemią/zarażeniem ludzie zaczęli kupować duże ilości produktów.</p>

        <p>prowadziło to do takich sytuacji że w sklepach brakowało towarów a ludzie czekali przed sklepami jeszcze przed ich otwarciem</p>

        <p>Problem ten z czasem sie unormalizował. Though, W niektorych krajach jednak nadal ustawiają się długie, kilkusetmetrowe kolejki poprzez zakazy mówiące o ograniczonej ilosci osób w sklepie jednocześnie</p>

        <p>Koszt maseczek wzrósł o 400%?</p>

        <div class="preIcon">
          <i class="fas fa-glasses"></i>
          <!-- <i class="fas fa-exclamation-triangle"></i> -->
        </div>

        <h3 class="pt-3">Niebezpieczenstwo a wiek</h3>

        <p>Obecnie wiadomo, że prawdopodobieństwo wyzdrowienia jest różne w zależności od wieku chorego. Największe niebezpieczeństwo ciąży na osobach starszych and very young age. To własnie u nich organizm najsłabiej radzi sobie z walce z wirusem a mortality is the highest</p>

        <div class="preIcon">
          <i class="far fa-bell"></i>
        </div>

        <h3 class="pt-3"></h3>

        <p>Lastest news reports that some people who recovered from coronavirus, catched it again. It means virus does not stop evoluating which may cause znaleźć/wynaleźć treatment even harder ( niż przypuszczano )</p>

        </mat-card-content>

    </mat-card>
  </div>

</div>


