<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p class="mb-5 d-none" id="siteDesc">Wuhan outbreak</p>
</div>

<div class="content">

  <div class="history-card">
    <mat-card class="mb-5">
        <mat-card-subtitle class="w-100">
          <h2>Wuhan Outbreak</h2>
        </mat-card-subtitle>

        <mat-card-content>

        <div class="preIcon">
          <i class="fas fa-feather-alt"></i>
        </div>

        <h3>Initiation</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut arcu urna. Suspendisse potenti. Quisque non consectetur sapien. Pellentesque nisl arcu, suscipit eu ligula eu, varius tempus enim. Vivamus id ipsum gravida, dapibus tellus id, molestie elit.</p>

        <p>Integer vestibulum feugiat eros et tempus. Vivamus sollicitudin lacus ut nisl facilisis auctor. Vivamus vel varius lorem. Phasellus laoreet efficitur libero nec interdum. Aenean eu mauris et ipsum accumsan eleifend quis sit amet nibh. Cras pharetra, odio ultricies lacinia tincidunt, mi nisi dapibus ex, eu vehicula tellus urna pharetra tellus.</p>

        <p>Nullam mattis tincidunt dignissim. Cras eu quam ante. Praesent placerat semper massa, id molestie urna ornare ut. Morbi eget neque condimentum, hendrerit quam non, varius quam. Cras aliquam orci ac finibus varius. Vivamus ipsum est, facilisis quis felis elementum, ultrices venenatis risus. Nulla mollis tincidunt nunc, eget rutrum dolor venenatis a. Integer accumsan volutpat purus ac lacinia. Maecenas porta nulla justo, sit amet finibus neque interdum bibendum. Maecenas luctus augue aliquet nisl viverra dictum.</p>

        </mat-card-content>

    </mat-card>
  </div>

</div>


