


/* =========================== U N I V E R S A L ======================= */

h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 600;
  margin-bottom: 2.5em;
  font-size: 2.5em;
}

h2 {
  /* 'Playfair Display SC', serif */
  font-family: 'Playfair Display SC', serif ;
  /* font-size: 2.8em; */
  font-size: 3.3em;
  letter-spacing: 0.04em;
  font-weight: 400;

  /* box-shadow:
      0px 2px 4px rgba(34, 34, 34, 0.25),
      0px 4px 5px rgba(34, 34, 34, 0.2),
      0px 7px 6px rgba(34, 34, 34, 0.1); */

  /* overflow: hidden; */
}

h3 {
  text-indent: 0;
  text-align: center;

  font-size: 2.5em;

  margin-bottom: 0.55em;

  text-shadow:
         0px 2px 4px rgba(0, 0, 0, 0.35),
        0px 4px 7px rgba(0, 0, 0, 0.2),
        0px 7px 9px rgba(0, 0, 0, 0.15);
}

mat-card.mat-card.mat-focus-indicator {
  box-shadow:
        0px 2px 8px -1px rgba(0, 0, 0, 0.2),
        0px 1px 20px 0px rgba(0, 0, 0, 0.14),
        0px 1px 13px 0px rgba(0, 0, 0, 0.12);
}

mat-card-content {
  /* font-family: 'Libre Baskerville', serif;  */
  /* font-size: 1.04em; */
  font-size: 1.095em;
  font-weight: 500;
  letter-spacing: 0.083rem;
  text-align: justify;

  line-height: 1.68em;

  padding: 0 1em;

}

mat-card-content p{
  text-indent: 10%;

  text-shadow:
         0px 2px 4px rgba(0, 0, 0, 0.35),
        0px 4px 7px rgba(0, 0, 0, 0.2),
        0px 7px 9px rgba(0, 0, 0, 0.15);
}

.mat-card-subtitle {
  background: #222222;
  color: #eee;

  margin-bottom: 6em;
}

.preIcon {
  font-size: 6.5em;
  text-align: center;

  margin-top: 1.05em;
  margin-bottom: 0.35em;

}

.preIcon i {
  display: inline;
}

.mat-card {
  font-family: 'Manrope', sans-serif;

  background: #2f2f2f;

  color: #eee;

  padding: 0;
  padding-bottom: 2em;

}

.content {
  width: 82.2%;
  margin: auto;
}

#history-card{
  background: rgb(41, 41, 41);
  font-size: 1.4em;
  border-radius: 5%;
  padding: 1em;
}


/* ===========================E X T R A    S M A L L============================ */


@media (max-width: 575.98px) {

}


/* ===================================S M A L L============================ */


@media (min-width: 576px) and (max-width: 767.98px) {

}


/* ===================================M E D I U M============================ */


@media (min-width: 768px) and (max-width: 991.98px) {

}


/* ====================================L A R G E============================================ */


@media (min-width: 992px) and (max-width: 1199.98px) {

}


/* ===================================E X T R A    L A R G E ============================ */


@media (min-width: 1200px) {

}

