<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p class="mb-5 d-none" id="siteDesc">Wuhan outbreak</p>
</div>

<div class="content">

  <div class="history-card">
    <mat-card class="mb-5">
        <mat-card-subtitle class="w-100">
          <!-- <h2>Wuhan Outbreak</h2> -->
          <h2>About Disease</h2>
        </mat-card-subtitle>

        <mat-card-content>

        <div class="preIcon">
          <i class="fas fa-compress-alt"></i>
        </div>

        <h3>Comparison</h3>  <!-- DO PANDEMIC -->

        <p>It's not the first time when humans face some epidemic. In the past most often Plague, smallpox, HIV, ebola, Cholera</p>

        <div class="preIcon">
          <i class="fas fa-clipboard-list"></i>
          <!-- <i class="fas fa-box-tissue"></i> -->
          <!-- <i class="fas fa-lungs-virus"></i> -->
          <!-- <i class="fas fa-head-side-cough"></i> -->
        </div>

        <h3 class="pt-3">Symptoms</h3>

        <p>Coronavirus can affect different ways on different people.</p>

        <p class="list-caption">Common symptoms:</p>

        <ul>
          <li>
            fever
          </li>
          <li>
            tiredness
          </li>
          <li>
            dry cough
          </li>
        </ul>

        <p class="list-caption">Less frequently but may occur:</p>

        <ul>
          <li>
            fever
          </li>
          <li>
            tiredness
          </li>
          <li>
            dry cough
          </li>
        </ul>

        <div class="preIcon">
          <i class="fas fa-landmark"></i>
        </div>

        <h3 class="pt-3">Be alert</h3>

        <p>Respectively to the informations how catching is virus, in many countries state authorities started reacting immediately to prevent spreading. Ones of the most important are:</p>

        <ul id="governmentDo">
          <li>
            Stay home if possible
          </li>
          <li>
            Keep distance between ech other (minimum 6 feet)
          </li>
          <li>
            Wash your hands often
          </li>
        </ul>

        <!-- <p>oprócz zakazów/innymi dzialaniami rzadu  są expresowe budowy szpitali ze względu na to jak łatwo się przenosi covid oraz brak miejsc przez dużą liczbę zachorowań</p> -->

        <!-- <p>coraz wiecej krajów wprowadza nakazy noszenia maseczek oraz je dofinansowuje</p> -->

        <!-- <p>wszystko to sie dzieje aby zminimalizować pandemię jak tylko jest to mozliwe</p> -->

        <div class="preIcon">
          <!-- <i class="fas fa-comments"></i> -->
          <i class="fas fa-search-dollar"></i>
        </div>

        <h3 class="pt-3">Shopping</h3>

        <p>In cause of the fear from the infection, people started buying large amount of products.
        This led to situations where in shops were lacks / deficities of products on the shelfs and buyers were waiting before opening.</p>

        <p>Over time this problem was normalized. Even so, in many countries long queues are forming anyway. That happens because of restrictions about number of clients in the time in certain shops.
        Mainly, bigger shopping centres are completely closed.</p>

        <p>Major of companies loses fortune when people stay in their homes, but not all. Businessess like these producing face masks increases sales up to 500%!</p>

        <!-- <p>Koszt maseczek wzrósł o 400%?</p> -->

        <div class="preIcon">
          <i class="fas fa-glasses"></i>
          <!-- <i class="fas fa-exclamation-triangle"></i> -->
        </div>

        <h3 class="pt-3">Recovery</h3>

        <p>It is now known that probability of recover is different depending on age. Media reports that the elder age is higher death rate, however keep in mind that people in very young age also have low immune system. </p>

        <p>Statistic show that mortality rate for people between 75-84 years old is about 4,5%, but for age over 84 years olds death ratio amounts 13.5%! That's why they should take care most of all.</p>

        <!-- <p>The safest can feel people between 10-30 years old.</p> -->

        <!-- <p>Obecnie wiadomo, że prawdopodobieństwo wyzdrowienia jest różne w zależności od wieku chorego. ogólnie media podają że, im starsza osoba tym większe ryzyko smierci jednak równie narażone są osoby w bardzo młodym wieku. Statystyki podają że w 10%(?) z chorych over 70 lat umiera. To własnie u nich organizm najsłabiej radzi sobie z walce z wirusem a mortality is the highest</p> -->

        <div class="preIcon">
          <i class="far fa-bell"></i>
        </div>

        <h3 class="pt-3">Warning</h3>

        <p>Latest news reports that some people who recovered from coronavirus, catched it again. It means virus does not stop evoluating which may cause coming out with an antidote even harder than expected.</p>

        </mat-card-content>

    </mat-card>
  </div>

</div>


