<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p class="mb-5 d-none" id="siteDesc">Wuhan outbreak</p>
</div>

<div class="content">

  <div class="history-card">
    <mat-card class="mb-5">
        <mat-card-subtitle class="w-100">
          <!-- <h2>Wuhan Outbreak</h2> -->
          <h2>About Disease</h2>
        </mat-card-subtitle>

        <mat-card-content>

        <div class="preIcon">
          <i class="fas fa-compress-alt"></i>
        </div>

        <h3>Comparison</h3>  <!-- DO PANDEMIC -->

        <p>It's not the first time when humans face some epidemic. In the past most often Plague, smallpox, HIV, ebola, Cholera. Lets see how dangerous they were compared to COVID-19:</p>

        <div class="preIcon">
          <i class="fas fa-clipboard-list"></i>
          <!-- <i class="fas fa-box-tissue"></i> -->
          <!-- <i class="fas fa-lungs-virus"></i> -->
          <!-- <i class="fas fa-head-side-cough"></i> -->
        </div>

        <h3 class="pt-3">Symptoms</h3>

        <p>Coronavirus can affect different ways on different people. It's good to know symptoms of infection demonstrating.</p>

        <p class="list-caption">Common symptoms:</p>

        <ul>
          <li>
            fever
          </li>
          <li>
            tiredness
          </li>
          <li>
            dry cough
          </li>
        </ul>

        <p class="list-caption">Less frequently but may occur:</p>

        <ul>
          <li>
            nasal congestion
          </li>
          <li>
            aches and pains
          </li>
          <li>
            diarrhea
          </li>
          <li>
            runny nose
          </li>
          <li>
            sore throat
          </li>
        </ul>

        <p class="list-caption">If some not listed occur you should find out more in the internet or consult with your medical provider.</p>

        <div class="preIcon">
          <i class="fas fa-shield-virus"></i>
        </div>

        <h3 class="pt-3">Be Alert</h3>

        <p>Respectively to the informations how catching is virus, in many countries state authorities started reacting immediately to prevent spreading. Ones of the most important are:</p>

        <ul id="governmentDo">
          <li>
            Stay home if possible
          </li>
          <li>
            Keep distance between ech other (minimum 6 feet)
          </li>
          <li>
            Wash your hands often, every time for at least 20 seconds
          </li>
          <li>
            Wash your hands using warm water and soap
          </li>
          <li>
            Wdodac dodac
          </li>
        </ul>

        <div class="preIcon">
          <i class="fas fa-hands-wash"></i>
        </div>

        <h3 class="pt-3">Hygiene</h3>

        <p>It is especially important to keep high level of hygiene these times. You can use an alcohol-based hand sanitiser if your hands are not visibly dirty. Ensure you wash your hands or use a hand sanitiser before:</p>

        <!-- <p>Nowadays it is especially important to keep high level of hygiene. You can use an alcohol-based hand sanitiser if your hands are not visibly dirty. Ensure you wash your hands or use a hand sanitiser before:</p> -->

        <ul id="governmentDo">
          <li>
            entering area where are other people
          </li>
          <li>
            touching thing used by other people
          </li>
          <li>
            putting on gloves or mask
          </li>
        </ul>

        <p class="list-caption">And after:</p>

        <ul id="governmentDo">
          <li>
            using bathroom
          </li>
          <li>
            coughing or sneezing
          </li>
          <li>
            removing mask or gloves
          </li>
          <li>
            touching any objects which are in continuous use by others
          </li>
        </ul>


        <div class="preIcon">
          <!-- <i class="far fa-bell"></i> -->
          <!-- <i class="fas fa-notes-medical"></i> -->
          <i class="fas fa-home"></i>
        </div>

        <h3 class="pt-3">Suspicion</h3>

        <p>If you think you might have COVID-19, you must take extra care. In most cases sick person can recover at home without medical care. Monitor your symptoms. Most common are fever and cough.</p>

        <p>If there are other housemates, wear mask at home, too. Use different crockery, cutlery and disinfect frequently used places / objects everyday. If possible, use separate bathroom too.</p>

        <p class="list-caption">Observe your symptoms. Coronavirus behaves similarly to flu. Stay self-isolate untill tests confirm that you are healthy. Usually it takes 1-2 days . </p>

        <p>Do not go to the clinic, call 911!</p>



        <div class="preIcon">
          <i class="fas fa-procedures"></i>
          <!-- <i class="fas fa-notes-medical"></i> -->
        </div>

        <h3 class="pt-3">Treatment<!--Disease/Medication--></h3>

        <!-- <p>Most people with COVID-19 can recover at home without medical care. odpoczynek rest and stay hydrated usually helps. </p> -->

        <p>There are few things to get to know about being infected. In most cases no medical cure is needed. Take care of yourself. Get rest and stay hydrated. That usually helps.</p>

        <!-- <p>Itf you know you are infected, dont panic. In most cases no medical cure is needed. Take care of yourself. Get rest and stay hydrated. That usually helps.</p> -->

        <p class="list-caption">Signs which says there is need to get medical attention immediately:</p>

        <ul id="governmentDo">
          <li>
            Trouble with breathing
          </li>
          <li>
            Continuous pain or pressure in the chest
          </li>
          <li>
            Bluish lips or face
          </li>
        </ul>

        <p class="list-caption">Above symptoms are not all of them. If you have other and you suspect you might have COVID-19, you should consult your doctor.</p>

        <p>Until recovery you should stay separate from others. If it is not possible and you must be around other people or animals, even at home, take extra care. It's recommended to wear mask and If there are opportunity, use separate bathroom too.</p>

        <!-- <p>In case when you must be around other people or animals, even at home, take extra care. You should wear mask and stand clear from the others.</p> -->

        <!-- <p>Until recovery you should stay separate from others even at home. It's recommended to wear mask and If possible use separate bathroom (too)(?).</p> -->

        <!-- <p>If breathing trouble (or other concerning symptoms) occurs should be(?) called 911.</p> -->

        </mat-card-content>

    </mat-card>
  </div>

</div>


