<div class="" id="logo">
  <h1><i class="fas fa-hourglass-half"></i> QuaranTime</h1>
</div>

<div>
  <p id="siteDesc">Counting time of quarantine in particular countries:</p>
</div>

<!-- <input type="text" namy="searchForCountry" [(ngModel)]="searchForCountry" /> -->
<div class="searchPlace">
  <input autocomplete="off" type="text" name="search" [(ngModel)]="searchForCountry" class="search-txt" placeholder="Type country"/>
  <a class="search-btn">
  <i class="fas fa-search"></i>
  </a>
</div>

<div *ngFor="let country of countries | filter: searchForCountry">

  <div class="row" id="{{ country.name }}">
    <div class="col-12">
        <p>{{ country.name }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 pt-3 pt-md-0 firstOccur">
        <p>From The First Occur:</p>
    </div>
    <div class="d-none d-md-block col-sm-6 endOfBreak">
        <p>
            <span class="d-block d-md-none">Return to school:</span>
            <span class="d-none d-md-block">To The End Of School Break:</span>
        </p>
    </div>
  </div>

  <div class="row countingRow">

    <div class="col-12 col-md-6">
        <div class="row clockdiv justify-content-center" id="clockFirstItaly">
            <!-- <div class="col-2"></div> -->
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="days">{{ country.leftPast.days }}</span>
                    <div class="smalltext">Days</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="hours">{{ country.leftPast.hours }}</span>
                    <div class="smalltext">Hours</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="minutes">{{ country.leftPast.minutes }}</span>
                    <div class="smalltext">Minutes</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="seconds">{{ country.leftPast.seconds }}</span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
            <!-- <div class="col-2"></div> -->
        </div>
    </div>

    <div class="row d-block d-md-none pt-5 w-100">
        <div class="col-12 p-0 endOfBreak">
            <p>Return to school:</p>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="row clockdiv justify-content-center" id="clockEndItaly">
            <!-- <div class="col-2"></div> -->
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="days">{{ country.leftFuture.days }}</span>
                    <div class="smalltext">Days</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="hours">{{ country.leftFuture.hours }}</span>
                    <div class="smalltext">Hours</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="minutes">{{ country.leftFuture.minutes }}</span>
                    <div class="smalltext">Minutes</div>
                </div>
            </div>
            <div class="col-sm-3quart col-xl-2 box card">
                <div class="card-body">
                    <span class="seconds">{{ country.leftFuture.seconds }}</span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
            <!-- <div class="col-2"></div> -->
        </div>
    </div>

  </div>

  <hr>

</div>
